<html>
<head>
     <link rel="stylesheet" href="new-customization1.component.css">
     <div class="header">
          <h1> SweetSpot</h1>
          <br>

          <h3> Cakes and Many More!!!!! </h3>
     </div>
</head>

<body>
     <div class="cakes">
          <button id="myButton">More</button>
<h2 > <center> cakes's</center></h2>
</div> 

     <div class="image-container">
          <img src="C:\Users\ARUN\Desktop\angularproject\LatestAppWithModule\src\assets\cake1.jpeg" alt="First Image"name="chocolatecake">
          <img src="C:\Users\ARUN\Desktop\angularproject\LatestAppWithModule\src\assets\cake2.jpeg" alt="Second Image">
          <img src="C:\Users\ARUN\Desktop\angularproject\LatestAppWithModule\src\assets\cake3.jpeg" alt="Third Image">
          <!-- Add more images as needed -->
        </div>


     </div> 
     <div class="image-container">
          <img src="C:\Users\ARUN\Desktop\angularproject\LatestAppWithModule\src\assets\cake4.jpg" alt="First Image">
          <img src="C:\Users\ARUN\Desktop\angularproject\LatestAppWithModule\src\assets\cake5.jpeg" alt="Second Image">
          <img src="C:\Users\ARUN\Desktop\angularproject\LatestAppWithModule\src\assets\cake6.jpeg" alt="Third Image">
          <!-- Add more images as needed -->
        </div>
        <button id="myButton">More</button>

        <br>
        <br>
        <br>
        <br>
        <br>

     </div>
     <div class="pastry"
        <h2 > <center>Pastry's</center></h2>
     
</div>
          <div class="image-container">
               <img src="C:\Users\ARUN\Desktop\angularproject\LatestAppWithModule\src\assets\pastry1.jpeg" alt="First Image"name="chocolatecake">
               <img src="C:\Users\ARUN\Desktop\angularproject\LatestAppWithModule\src\assets\pastry2.jpeg" alt="Second Image">
               <img src="C:\Users\ARUN\Desktop\angularproject\LatestAppWithModule\src\assets\pastry3.jpeg" alt="Third Image">
               <!-- Add more images as needed -->
             </div>

             <div class="image-container">
               <img src="C:\Users\ARUN\Desktop\angularproject\LatestAppWithModule\src\assets\pastry4.jpeg" alt="First Image"name="chocolatecake">
               <img src="C:\Users\ARUN\Desktop\angularproject\LatestAppWithModule\src\assets\pastry5.jpg" alt="Second Image">
               <img src="C:\Users\ARUN\Desktop\angularproject\LatestAppWithModule\src\assets\pastry6.jpeg" alt="Third Image">
               <!-- Add more images as needed -->
             </div>


<div class="footerr">
<footer>
     <div class="contact-info">
       <h3>Contact Us</h3>
       <p>Email: arunrathod1436@gmail.com</p>
       <p>Phone: 8459286898</p>
     </div>
     <div class="location">
       <h3>India</h3>
       <p>Hanuman Nagar,N-4</p>
       <p>Sambhajinagar,MH, 431001</p>
     </div>
     <div class="social-media">
       <h3>Follow Us</h3>
       <ul>
         <li><a href="#">Facebook</a></li>
         <li><a href="#">LinkedIn</a></li>
         <li><a href="#">Instagram</a></li>
       </ul>
     </div>
   </footer>
  </div> 
</body>
</html>