
<html>
  <head>
    <link rel="stylesheet" href="login.component.css">
          <div class="header">
               <h1><marquee width="60%" direction="left" height="100px"> WelcomeToTheSweetSpot</marquee></h1>
          </div>
  </head>
<div class="login-container">
  <center>
  <h2>Login To SweetSpot</h2>
  <body>
  <form (ngSubmit)="login()">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username"  required>
    </div><br><br>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
    </div><br>
    <a href="C:\Users\ARUN\Desktop\angularproject\LatestAppWithModule\src\app\new-customization\new-customization.component.html">
    <button onclick="location.href='new-customization.component.html'">LOGIN </button>
    </a>
  </form>
  </body>


  </center>

  
</div>
</html>