*{
     background-color: rgb(200, 238, 165);
}


footer {
     background-color: #f4f4f4;
     padding: 50px;
     margin-top: 100px;
     height: 0pxpx;
     text-align: center;
     display: flex;
     justify-content: space-around;
   }
   
   .contact-info,
   .location,
   .social-media {
     flex-basis: 30%;
   }
   
   .contact-info h3,
   .location h3,
   .social-media h3 {
     margin-top: 0;
   }
   
   .social-media ul {
     padding: 0;
     margin: 0;
     list-style: none;
   }
   
   .social-media ul li {
     margin-bottom: 5px;
   }
   
   .social-media ul li a {
     text-decoration: none;
     color: #007bff;
   }
   
   .social-media ul li a:hover {
     text-decoration: underline;
   }
   .footerr{
     background-position: bottom;
   }

   .header {
     padding: 60px;
     text-align: center;
     background: #1abc9c;
     color: white;
     font-size: 30px;
   }