<html>

<head>
  <link rel="stylesheet" href="payment.component.css">
  <div class="header">
    <h1> Make Payment</h1>
</div>
</head>

<body>


<center>
<h1><b>Payment works!</b></h1>

<form #paymentForm="ngForm" (ngSubmit)="processPayment()">
  
     <input type="text" name="cardNumber" [(ngModel)]="cardNumber" placeholder="Card Number" required><br><br><br>
     <input type="text" name="expiry" [(ngModel)]="expiry" placeholder="MM/YY" required><br><br><br>
     <input type="text" name="cvv" [(ngModel)]="cvv" placeholder="CVV" required><br><br>
     
     <button type="submit">Pay Now</button></center>
   </form>
   

   <div class="footerr">
    <footer>
         <div class="contact-info">
           <h3>Contact Us</h3>
           <p>Email: arunrathod1436.com</p>
           <p>Phone: 8459286898</p>
         </div>
         <div class="location">
           <h3>India</h3>
           <p>Hanuman Nagar,N-4</p>
           <p>Sambhajinagar,MH, 431001</p>
         </div>
         <div class="social-media">
           <h3>Follow Us</h3>
           <ul>
             <li><a href="#">Facebook</a></li>
             <li><a href="#">LinkedIn</a></li>
             <li><a href="#">Instagram</a></li>
           </ul>
         </div>
       </footer>
      </div>  
    
  

 </body> 
  </html>
   
